.contact {
  display: flex;
  flex-direction: column;
  height: $page-height;
  justify-content: space-between;
  padding: 0 20px;

  a {
    cursor: default;
  }

  .title {
    font-size: 64pt;
    line-height: 110%;
    margin-top: 70px;
    text-align: center;
  }

  .social-media-container {
    display: flex;
    justify-content: center;
    margin-top: -70px;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    text-align: center;
  }

  .social-media-icon {
    height: 150px;
    margin-bottom: 20px;
    width: 150px;
  }

  .footer {
    margin-bottom: 20px;
  }
}

/* very narrow width - adjust font and icon sizes */
@media screen and (max-width: 420px) {
  .contact {
    .title {
      font-size: 48pt;
    }

    .social-media-icon {
      height: 70px;
      width: 70px;
    }
  }
}

/* narrow width - adjust font and icon sizes */
@media screen and (min-width: 420px) and (max-width: 570px) {
  .contact {
    .title {
      margin-top: 30px;
    }

    .social-media-icon {
      height: 100px;
      width: 100px;
    }
  }
}

/* regular width - adjust icon sizes */
@media screen and (min-width: 570px) and (max-width: 860px) {
  .contact {
    .social-media-icon {
      height: 125px;
      width: 125px;
    }
  }
}

/* wide width - increase screen left-right margins */
@media screen and (min-width: 860px) {
  .contact {
    .social-media {
      margin: 0 40px;
    }
  }
}
