.header-container {
  background: $background-color;
  display: flex;
  height: $header-height;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 70vw;

  .header-button {
    align-items: center;
    display: flex;
    font-size: 18pt;
    height: 100%;
    justify-content: center;
    width: 110px;
  }

  .header-button-selected {
    @extend .header-button;
    border-bottom: 3px solid $highlight-color;
    color: $highlight-color;
  }

  .header-button:hover {
    color: $highlight-color;
  }
}

/* narrow width - adjust font sizes */
@media screen and (max-width: 768px) {
  .header {
    width: 90vw;

    .header-button {
      font-size: 10pt;
    }
  }
}
