$background-color: #fff;
$highlight-color: #4990E2;

$header-height: 60px;
$page-height: calc(100vh - 60px);

html, body {
  font-family: 'Assistant', sans-serif;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

button {
  background: $background-color;
  border: 0;
  font-family: 'Assistant', sans-serif;
  outline: none;
}

.layout {
  margin-top: $header-height;
}

.loader {
  height: $page-height; 
}

@import 'header.scss';
@import 'home.scss';
@import 'about.scss';
@import 'music.scss';
@import 'gallery.scss';
@import 'contact.scss';
