<!DOCTYPE html>
<html lang="en">
  <head>
    <meta id="meta" name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>Accordé Guitar Ensemble</title>
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/accorde-site.appspot.com/o/assets%2Ffavicon.ico?alt=media&token=832e3b55-2eaf-4ffc-b545-eecddcfd4ab9">
    <link href="https://fonts.googleapis.com/css?family=Assistant:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  </head>
  <body>
    <div id="accorde-root" class="accorde-root"></div>
  </body>
</html>
