<!DOCTYPE html>
<html lang="en">
  <head>
    <meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <meta property="og:title" content="Accordé Guitar Ensemble" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/accorde-site.appspot.com/o/assets%2FBanner.png?alt=media&token=bdeaaee6-179e-41a0-928c-0e0b1816993a" />
    <meta property="og:description" content="We are a non-profit guitar ensemble in Singapore formed in 2016. Comprising guitarists from diverse backgrounds including guitar instructors and alumni of school guitar ensembles, we are united by a strong passion for music.">
    <title>Accordé Guitar Ensemble</title>
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/accorde-site.appspot.com/o/assets%2Ffavicon.ico?alt=media&token=832e3b55-2eaf-4ffc-b545-eecddcfd4ab9">
    <link href="https://fonts.googleapis.com/css?family=Assistant:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  </head>
  <body>
    <div id="accorde-root" class="accorde-root"></div>
  </body>
</html>
