@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

$background-color: #fff;
$highlight-color: #4990E2;

$header-height: 80px;
$page-height: calc(100vh - 80px);

$gallery-image-height: calc(100vh - 80px - 75px);

html, body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

button {
  background: $background-color;
  border: 0;
  outline: none;
}

.layout {
  margin-top: $header-height;
}

.loader {
  height: $page-height; 
}

.header {
  align-items: flex-end;
  background: $background-color;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  padding: 0 100px;
  position: fixed;
  top: 0;
  width: calc(100vw - 200px);
  z-index: 100;

  .header-button:hover {
    color: $highlight-color;
  }
}

/* narrow width */
@media screen and (max-width: 768px) {
  .header {
    padding: 0 50px;
    width: calc(100vw - 100px);
  }
}

.home {
  height: $page-height;

  .logo {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100vw;
  }
}

@media screen and (min-aspect-ratio: 5/4) {
  .home {
    .logo {
      max-height: $page-height;
      width: auto;
    }
  }
}

.about {
  min-height: $page-height;

  .container {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: $page-height;
  }

  .about-title {
    color: $highlight-color;
  }

  .story {
    color: white;
    padding: 0 50px;
    text-align: center;
  }

  .events {
    display: flex;
    justify-content: center;
    padding: 0 100px;
    width: 100%;
    
    .pane {
      flex: 1;
    }

    .events-table {
      border-collapse: collapse;
    }

    .event-month {
      font-size: 140%;
    }

    .event-year {
      font-size: 120%;
    }

    .event-cell {
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      color: white;
      padding: 20px 10px;
      text-align: center;
      word-wrap: normal;
    }

    .event-name {
      font-size: 130%;
    }
  }
}

.music {
  align-items: center;
  display: flex;
  height: $page-height;
  justify-content: center;

  .player-title {
    margin-bottom: 10px;
  }

  .player-more-info {
    text-align: right;
  }
}

.gallery {
  display: flex;
  height: $page-height;
  justify-content: center;
  padding: 20px 50px;

  .image-gallery-image {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 55vh;

    img {
      height: auto;
      max-width: 100vw;
    }
  }
}

@media screen and (min-aspect-ratio: 10/7) {
  .gallery {
    .image-gallery-image {
      img {
        max-height: 70vh;
        width: auto;
      }
    }
  }
}

.contact {
  height: $page-height;
  padding: 0 50px;

  .container {
    align-items: center;
    display: flex;
    height: $page-height;
    justify-content: space-between;
  }

  .contact-info {
    width: 40%;
    padding-right: 10px;
    text-align: right;
  }

  .contact-icon {
    margin: 0 10px;
  }

  .contact-photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80%;
    width: 60%
  }
}
